<p>Hello <%= @resource.email %>,</p>

<p>You’ve been invited to join <%= @resource.tenant&.name || Rails.application.class.module_parent_name %>.</p>

<% frontend = ENV.fetch(Rails.application.credentials.frontend_url, "http://localhost:5173") %>
<% accept_url = "#{frontend}/accept-invite?invitation_token=#{@token}&tenant=#{ERB::Util.url_encode(@resource.tenant.name)}" %>


<p>
  <a href="<%= accept_url %>">Accept invitation</a>
</p>

<p>If you didn’t expect this, you can ignore this email.</p>
